@import url('./reset.css');

/* Styles gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1128px;
  margin: 0 auto;
  gap: 24px;
}
.gallery-image {
  width: 360px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}
